.card{
    border: 1px solid black hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    flex: 1; /* Hace que el componente Card ocupe todo el espacio restante */
    margin-left: 10px;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text{
    font-family: Arial, sans-serif;
    color: black;
}

.card img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
    display: flex;
}

#sidebar {
    flex: 0 0 auto; 
    font-family: Arial, sans-serif;
    text-align: center;
    
}

#app {
    flex: 1;
}

#header {
    height: 60px;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
}